// ==========================================================================
// Collapsed
// ==========================================================================

@media (max-width: 991px) {
	.top-line ul.info-list {
		margin-bottom: 5px;
		text-align: center;
	}

	.top-line ul.social-icons {
		text-align: center;
	}

	.footer .col-md-4 {
		text-align: center;
	}

	.headline-primary--psuedo {
		margin: 20px auto;
		padding-bottom: 10px;
		padding-left: 0;
	}

	.headline-primary--psuedo::after {
		bottom: 0;
		content: "";
		height: 5px;
		left: 50%;
		margin-left: -77px;
		position: absolute;
		width: 150px;
	}

	.copyright p {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.navbar-right li a {
		color: #777777;
		font-family: "Montserrat", sans-serif;
		font-size: 14px;
		font-weight: 900;
		padding: 10px 15px;
		text-align: right;
		text-transform: uppercase;
	}
}