// ==========================================================================
// Form Elements
// ==========================================================================

.input-contact {
	background: none;
	border: 1px solid #d3d3d3;
	color: #d3d3d3;
	font-size: 14px;
	line-height: 25px;
	margin-top: 10px;
	min-height: 25px;
	outline: none;
	padding-left: 15px;
	width: 100%;
}

.input-contact::-moz-placeholder,
.textarea-contact::-moz-placeholder {
	color: palette(grey, x-light);
	opacity: 1;
}

.input-contact:-ms-input-placeholder,
.textarea-contact:-ms-input-placeholder {
	color: palette(grey, x-light);
}

.input-contact::-webkit-input-placeholder,
.textarea-contact::-webkit-input-placeholder {
	color: palette(grey, x-light);
}

textarea.textarea-contact {
	background: none;
	border: 1px solid #d3d3d3;
	color: #333;
	font-size: 14px;
	margin-top: 10px;
	max-width: 100%;
	outline: none;
	padding-left: 20px;
	padding-top: 20px;
	width: 100%;
}

.contact-button {
	background: $color-primary;
	border: 1px solid $color-primary;
	color: $white;
	height: 50px;
	line-height: 50px;
	margin-top: 30px;
	outline: none;
	padding-left: 40px;
	padding-right: 40px;
	text-transform: uppercase;

	&:hover {
		background-color: darken($color-primary, 5);
		border-color: darken($color-primary, 5);
		color: $white;
		transition: $trns-duration;
	}
}