// ==========================================================================
// Headlines
// ==========================================================================

#headline {
	padding-left: 25px;
	position: relative;

	&::after {
		background: $color-primary;
		bottom: 0;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		width: 10px;
	}
}

.headline {
	&-primary {
		@extend %hdln-prim;
		margin-bottom: em(40px, 24px);

		@include m(grouped) {
			@extend %hdln-prim;
			margin-bottom: em(20px, 24px);
			margin-top: em(0px, 24px);
		}

		@include m(roofing) {
			@extend %hdln-prim;
			color: #fff;
			margin: 0;
		}

		@include m(locations--nops) {
			@extend %hdln-prim;
			color: $color-secondary;
			text-align: center;
		}

		@include m(locations) {
			@extend %hdln-prim;
			color: $color-secondary;
			padding-bottom: 20px;
			position: relative;
			text-align: center;

			&::after {
				background: $color-primary;
				bottom: 0;
				content: "";
				height: 5px;
				left: 50%;
				margin-left: -50px;
				position: absolute;
				width: 100px;
			}
		}

		@include m(psuedo) {
			@extend %hdln-prim;
			color: $white;
			margin-bottom: em(30px, 24px);
			padding-left: 20px;
			position: relative;

			&::after {
				background: $color-primary;
				bottom: 0;
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				width: 5px;
			}
		}
	}

	&-secondary {
		@extend %hdln-sec;
		margin: em(20px, 20px) 0;

		@include m(grouped) {
			@extend %hdln-sec;
			margin-bottom: em(5px, 20px);
		}

		@include m(subtitle) {
			color: #b5b7ac;
			font-weight: $font-weight--thin;
			font-size: em(18px);
			font-family: $font-family--secondary;
			display: block;
			margin: 0 0 em(10px, 18px) 0;
		}
	}
}