// ==========================================================================
// Icons
// ==========================================================================

.social-icon i {
	color: $black;
	display: inline-block;
	margin-right: 7.5px;
	text-align: center;
}

.social-icon h5 {
	display: inline-block;
	margin: 0 15px;
}