// ==========================================================================
// Nav
// ==========================================================================

.page__banner {
	background: $pickled-blue;
	overflow: hidden;
	padding: 50px 0;

	h1 {
		@extend %hdln-prim;
		@extend .pull-left;
		color: $white;
		font-size: em(24px);
		margin: 0 0 em(30px, 24px);
	}

	ul.page-depth {
		@extend .pull-right;
		@extend .text-right;
		margin: 10px 0 0;
		padding: 0;

		li {
			display: inline-block;
			margin-left: 10px;

			&.active a {
				color: $white;
			}

			&::before {
				content: "/";
				font-size: em(12px);
				font-weight: 400;
				line-height: 22px;
				margin: 0 10px 0 0;
				color: $white;
			}

			&:first-child::before {
				display: none;
				margin-right: 0;
			}

			a {
				display: inline-block;
				font-size: em(12px);
				line-height: 22px;
				margin-bottom: 0;
				transition: all $trns-duration ease-in-out;

				&:hover {
					color: $color-primary;
				}
			}
		}
	}
}