* {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow-y: scroll;
}

body {
	color: $color_chicago_approx;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	height: 100%;
	line-height: 1.5;
}

#map-canvas {
	height: 250px;
}

#cf {
	height: 126px;
	margin: 0 auto;
	position: relative;
	width: 180px;

	img {
		left: 0;
		position: absolute;
		transition: opacity 1s ease-in-out;

		&.top:hover {
			opacity: 0;
		}
	}
}

.top-line {
	background: $color_pickled_bluewood_approx;
	border-bottom: 1px solid $color_concrete_approx;
	overflow: hidden;
	padding: 15px 0;
	transition: all 0.2s ease-in-out;

	ul {
		&.info-list {
			margin: 0;
			padding: 0;

			li {
				color: $white;
				display: inline-block;
				font-family: "Montserrat", sans-serif;
				font-size: 12px;
				margin-right: 20px;

				i {
					color: $color_valencia_approx;
					font-size: 14px;
					margin-right: 10px;
				}
			}
		}

		&.social-icons {
			margin: 0;
			padding: 0;
			text-align: right;

			li {
				display: inline-block;
				margin-left: 9px;

				a {
					color: $white;
					display: inline-block;
					font-size: 13px;
					text-decoration: none;
					transition: all 0.2s ease-in-out;

					&:hover {
						color: $color_valencia_approx;
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.top-line ul {
		&.info-list {
			margin-bottom: 5px;
			text-align: center;
		}

		&.social-icons {
			text-align: center;
		}
	}
}

.slick-prev {
	height: 40px;
	left: 0;
	width: 40px;
	z-index: 10000;

	&::before {
		font-size: 40px;
	}
}

.slick-next {
	height: 40px;
	right: 0;
	width: 40px;

	&::before {
		font-size: 40px;
	}
}

.alt-features-icon {
	color: $color_woodsmoke_approx;
	font-size: 48px;
	line-height: 1.3;
	padding-top: 10px;
}

.listing {
	float: left;
	width: 100%;

	ul {
		float: left;
		margin: 0;
		width: 100%;

		li {
			float: left;
			font-size: 20px;
			font-weight: bold;
			line-height: 35px;
			width: 50%;

			i {
				color: $color_valencia_approx;
			}
		}
	}
}

h1 {
	font-size: 2em;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 1.3em;
}

h2 {
	font-size: 1.75em;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 1.3em;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 1.3em;
}

h4 {
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 1.3em;
}

h5 {
	font-size: 1.125em;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 1.3em;
}

h6 {
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 1.3em;
}

a {
	color: $color_kangaroo_approx;
	font-weight: 400;
	text-decoration: none;

	&:focus {
		outline: none;
		text-decoration: none;
	}

	&:active {
		outline: none;
		text-decoration: none;
	}

	&:hover {
		outline: none;
		text-decoration: none;
	}
}

ul {
	list-style-type: none;
	margin: 0 0 1.5em 0;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

p {
	font-weight: 300;
	line-height: 1.375;
	margin: 0 0 1.875em;
}

ol {
	margin: 0 0 1.5em;
}

dl {
	dt {
		margin-bottom: 5px;
	}

	dd {
		margin-bottom: 15px;
	}
}

img {
	max-width: 100%;
	height: auto;
}

blockquote {
	background: none;
	border: 0;
	color: $color_tapa_approx;
	font-style: normal;
	line-height: 1.7;
	margin: 3em 0;
	padding: 0;

	p {
		font-size: 24px;
		font-style: normal;
		font-weight: 300;
		line-height: 1.6;
		margin-bottom: 1em;
	}

	footer {
		font-size: 11px;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

input {
	border: 0;
	display: block;
	outline: 0;
	padding: 15px;
	width: 100%;

	&:focus {
		transition: 0.3s;
	}
}

textarea {
	border: 0;
	display: block;
	outline: 0;
	padding: 15px;
	width: 100%;

	&:focus {
		transition: 0.3s;
	}
}

pre {
	background-color: $color_alabaster_approx;
	border-color: $color_alto_approx;
}

hr {
	background-color: $white_8;

	&.white {
		background: $white_35;
		border-color: $white_35;
	}

	&.black {
		background: $black_85;
		border-color: $black_85;
	}
}

.image-fullwidth img {
	width: 100%;
}