/*************************
********Home CSS**********
**************************/
#home-slider {
	overflow: hidden;
	position: relative;
	.caption {
		position: absolute;
		top: 25%;
		//margin-top: -243px;
		left: 0;
		right: 0;
		text-align: center;
		text-transform: uppercase;
		z-index: 15;
		font-size: 18px;
		font-weight: 300;
		color: #fff;
		img {
			margin-bottom: 30px;
		}
	}
}



.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	background-repeat: no-repeat;
	background-size: cover;
	height: 2037px;
	&:after {
		content: " ";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,.7);
	}
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.left-control,
.right-control {
  position: absolute;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;
  border:1px solid #fff;  
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.left-control {
  left: -51px
} 

.right-control {
  right: -51px;
}

.left-control:hover, 
.right-control:hover {
  color: #fff;
}

#home-slider:hover .left-control {
  left:30px
} 

#home-slider:hover .right-control {
  right:30px
}

#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}

.navbar-right li a {
  color: #777777;
  text-transform: uppercase;
  font-family: $font-family--primary;
  font-size: 14px;
  font-weight: $font-weight--ultra-bold;
  padding-top: 50px;
  padding-bottom: 50px;
	&.active {
		color: $color-primary;
	}
}

.navbar-right li.active a {
  background-color: rgba(0,0,0,.2);
}

.navbar-brand {
  height: auto;
}

.heading {
  padding-bottom:90px;
}

.main-nav {
	@extend .navbar-default;
	background: url('http://static.livedemo00.template-help.com/joomla_51888/templates/theme2070/images/template/headerBg.gif') bottom left repeat-x #ffffff;
	padding-bottom: 11px;
}